:root {
  --main-color: #5454e8;
  --hover-color: rgb(66, 65, 65);
  --main-font-family: jakarta_bold,Arial,cursive;
}

.App {
  text-align: center;
}

/* ============================LOGO================================= */

.logo{
  height: 5em;
  width: 17em;
}

/* Ipad mini size */
@media (max-width: 768px) { 
  .logo {
    height: 5em;
    width: 14;
  }
}

/* Iphone 14 pro max size */
@media (max-width: 430px) {
  .logo {
    height: 3em;
    width: 10em;
  }
}

/* ==========================NAVBAR================================= */


.navbar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  box-shadow: 3px;
}

.login-btn{
  align-items: center;
  height: 2.5em;
  width: 13em;
  background-color: var(--main-color);
  border-radius: 0.5em;
  font-family: var(--main-font-family);
  font-size: medium;
  color: white;
  border-width: 0;
}

.login-btn:hover {
  background: var(--hover-color);
}

@media (max-width: 768px) {
  .login-btn {
    padding: 8px 16px;
    font-size: 0.9rem;
  }
}

@media (max-width: 430px) {
  .login-btn {
    padding: 6px 12px;
    font-size: 0.8rem;
  }
}

/* ==========================TITLE================================= */

.title-container {
  display: flex;
  padding-top: 2em;
  justify-content: center;
  padding-bottom: 3em;
}

.title{
  font-family: var(--main-font-family);
  font-size: 1.5em;
}

/* Ipad mini size */
@media (max-width: 768px) { 
  .title {
    font-size: 1.4em;
  }
}

/* Iphone 14 pro max size */
@media (max-width: 430px) {
  .title {
    font-size: 1.2em;
  }
}

/* ==========================FILTERS================================= */

select {
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
}

label {
  font-weight: bold;
  margin-right: 10px;
}

.filter-container{
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
}

.filter{
  width: 80%;
  margin: 0 auto;
  padding-bottom: 1em;
}

.filter select {
  margin-right: 10px; 
}

.faculty{
  width: 40%;
}

.program{
  width: 40%;
}

/* Iphone 14 pro max size */
@media (max-width: 430px) {

  .filter{
    width: 100%;
    margin: 0 auto;
    padding-bottom: 1em;
  }
}



/* ==========================TABLE================================= */


.main-container{
  background-color: #fff; 
  border: 1px solid #ddd;
  border-radius: 12px; 
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 80%;
  margin: 0 auto;
}

.table-main-container{
  display: flex;
  justify-content: center;
}

.table{
  height: 100%;
  width: 100%;
}

.table-data{
  padding-top: 1em;
  padding-bottom: 1em;
}

.table-head{
  padding-top: 1em;
  padding-bottom: 1em;
  background-color: #8a8ae2;
}

.table tbody tr:nth-child(odd) {
  background-color: #f9f9f9; /* Color de fondo para filas impares (1ra, 3ra, etc.) */
}

.table tbody tr:nth-child(even) {
  background-color: #e5e8ea; /* Color de fondo para filas pares (2da, 4ta, etc.) */
}

/* Pagination */

.div-pagination{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  padding-top: 0.5em;
}

/* Iphone 14 pro max size */
@media (max-width: 430px) {

  .div-pagination {
    width: 100%; 
    margin: 0; 
    padding: 0.5em 0; 
    justify-content: space-evenly;
  }

  .pagination-info {
    margin-top: 8px;
    color: #555;
    text-align: center;
  }

  .pagination button:hover{
    background-color: var(--hover-color);
  }

  .pagination button {
    margin: 2px;
    width: 5em;
    font-size: 10px;
    text-align: center;
    display: flex;
    justify-content: center; 
    align-items: center; 
  }

  .pagination button:disabled {
      opacity: 0.5;
      cursor: not-allowed;
      width: 5em;
      font-size: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
  }

  .pagination .active {
      background-color: var(--main-color);
      color: white;
      border: none;
      width: 5em;
      font-size: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
  }


  .main-container {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 12px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    margin: 0 auto; 
  }

  .pagination{
    display: flex;
    flex-direction: row;
  }

}

.pagination{
  display: flex;
  flex-direction: row;
}

.main-pagination{
  justify-content: center;
}

.pagination button {
  margin: 5px;
  padding: 8px 16px;
  border: 1px solid #ddd;
  cursor: pointer;
  border-radius: 4px;
}

.pagination button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.pagination .active {
  background-color: var(--main-color);
  color: white;
  border: none;
}

.pagination-info {
  margin-top: 10px;
  font-size: 14px;
  color: #555;
  text-align: center;
  padding-right: 1em;
  padding-left: 1em;
}

/* Hover: Requisitos */

.requirement-container {
  position: relative;
  display: inline-block; 
}

.requirement-text {
  display: none; 
  position: absolute;
  background-color: white;
  border: 1px solid #ccc; 
  padding: 5px; 
  z-index: 10; 
  white-space: nowrap; 
}

.requirement-link {
  color: var(--main-color); 
  text-decoration: none;
  cursor: pointer; 
  margin-right: 10px; 
}

.requirement-link:hover {
  text-decoration: underline; 
}

.requirement-container {
  position: relative; 
}

.requirement-popup {
  display: flex;
  flex-direction: column;
  background-color: white;
  border: 1px solid #ccc;
  z-index: 1000;
  position: absolute;
  width: 200px;
}

.view-button{
  width: 5em;
  border-radius: 0.5em;
  border-width: 1px;
}

.view-button:hover + .requirement-text {
  display: block; 
}

.apply-button{
  width: 7em;
  height: 2em;
  border-radius: 0.5em;
  border-width: 1px;
  background-color: rgb(210, 209, 209);
}