:root {
    --main-color: #5454e8;
    --hover-color: rgb(66, 65, 65);
    --main-font-family: jakarta_bold, Arial, cursive;
}

.apply-monitoria-content {
    padding: 20px;
}

/* ============================TITLE================================= */

.apply-monitoria-title-container {
    display: flex;
    justify-content: center;
    padding-bottom: 1em;
}

.apply-monitoria-title {
    font-family: var(--main-font-family);
    font-size: 1.4em;
}

/* Ipad mini size */
@media (max-width: 768px) { 
    .apply-monitoria-title {
        font-size: 1.4em;
    }
}

/* Iphone 14 pro max size */
@media (max-width: 430px) {
    .apply-monitoria-title {
        font-size: 1.2em;
    }
}

/* ============================ SUBTITLE ================================= */

.apply-monitoria-subtitle {
    grid-column: 1 / -1; 
    grid-row: 1; 
    justify-self: center; 
    margin-bottom: 20px;
    padding: 20px 20px;
    font-size: 1.2em;
    color: black;
    font-weight: bold;
    text-align: center;
}

/* ============================ GRID ================================= */

.apply-monitoria-grid {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 15px;
    max-width: 40em;
    margin: 0 auto;
    box-shadow: 4px 4px 8px 8px rgba(0, 0, 0, 0.2);
    border-radius: 1.5em;
    padding: 3em;
}

@media (max-width: 1200px) {
    .apply-monitoria-grid {
        grid-template-columns: 1fr 1fr; 
    }
}

@media (max-width: 768px) {
    .apply-monitoria-grid {
        grid-template-columns: 1fr 1fr; 
    }
}

@media (max-width: 480px) {
    .apply-monitoria-grid {
        grid-template-columns: 1fr;
    }
}

.apply-monitoria-grid label {
    font-weight: bold;
    margin-bottom: 5px;
    align-content: center;
}

.apply-monitoria-grid input[type="text"],
.apply-monitoria-grid select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: var(--main-font-family);
    font-size: 1rem;
}

/* Botón de confirmación */
.apply-monitoria-confirm-button {
    margin-top: 20px;
    padding: 12px;
    font-size: 1em;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-decoration: none;
    width: 5em;

}

.apply-monitoria-confirm-button:hover {
    background-color: rgb(2, 104, 2);
}

.apply-monitoria-cancel-button {
    margin-top: 20px;
    padding: 12px;
    font-size: 1em;
    background-color: rgb(211, 57, 57);
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-decoration: none;
    width: 5em;
}

.apply-monitoria-cancel-button:hover {
    background-color: rgb(151, 42, 42);
}

.apply-monitoria-buttons-container {
    grid-column: 1 / -1; 
    display: flex;
    flex-direction: row;
    justify-self: center; 
    grid-gap: 1em;
}

.apply-monitoria-input-text-box {
    width: auto;
    font-family: var(--main-font-family);
    font-size: 1rem;
}

.apply-monitoria-input-date {
    width: auto;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
    font-family: var(--main-font-family);
}
