:root {
  --main-color: #5454e8;
  --hover-color: rgb(66, 65, 65);
  --main-font-family: jakarta_bold, Arial, cursive;
}

.applicants-content {
  padding: 20px;
  margin-left: 200px; 
}

.applicants-top-right-button {
    position: absolute;
    top: 20px;  
    right: 20px;  
    background-color: var(--main-color);
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 0.7em;
  }
  
  .applicants-top-right-button:hover {
    background-color: var(--hover-color); 
  }

/* ============================TITLE================================= */

.applicants-title-container {
  display: flex;
  padding-top: 3em;
  justify-content: center;
  margin-bottom: 3em;
}

.applicants-title {
  font-family: var(--main-font-family);
  font-size: 1.5em;
}

/* Ipad mini size */
@media (max-width: 768px) { 
  .applicants-title {
      font-size: 1.4em;
  }
}

/* Iphone 14 pro max size */
@media (max-width: 430px) {
  .cm-title {
      font-size: 1.2em;
  }
}

/* ============================TABLE================================= */

.applicants-main-container {
    background-color: #fff; 
    border: 1px solid #ddd;
    border-radius: 12px; 
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    margin: 0 auto;
}
  
.applicants-table-main-container {
    display: flex;
    justify-content: center;
}
  
.applicants-table {
    height: 100%;
    width: 100%;
}
  
.applicants-table-data {
    padding-top: 1em;
    padding-bottom: 1em;
    justify-items: center;
}
  
.applicants-table-head {
    padding-top: 1em;
    padding-bottom: 1em;
    background-color: #8a8ae2;
}
  
.applicants-table tbody tr:nth-child(odd) {
    background-color: #f9f9f9;
}
  
.applicants-table tbody tr:nth-child(even) {
    background-color: #e5e8ea;
}
  
/* Pagination */
  
.applicants-div-pagination {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    padding-top: 0.5em;
}
  
/* Iphone 14 pro max size */
@media (max-width: 430px) {
    .applicants-div-pagination {
        width: 100%; 
        margin: 0; 
        padding: 0.5em 0; 
        justify-content: space-evenly;
    }
  
    .applicants-pagination-info {
        margin-top: 8px;
        color: #555;
        text-align: center;
    }
  
    .applicants-pagination button:hover {
        background-color: var(--hover-color);
    }
  
    .applicants-pagination button {
        margin: 2px;
        width: 5em;
        font-size: 10px;
        text-align: center;
        display: flex;
        justify-content: center; 
        align-items: center; 
    }
  
    .applicants-pagination button:disabled {
        opacity: 0.5;
        cursor: not-allowed;
        width: 5em;
        font-size: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
  
    .applicants-pagination .active {
        background-color: var(--main-color);
        color: white;
        border: none;
        width: 5em;
        font-size: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
  
    .applicants-main-container {
        background-color: #fff;
        border: 1px solid #ddd;
        border-radius: 12px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        width: 100%;
        margin: 0 auto; 
    }
  
    .applicants-pagination {
        display: flex;
        flex-direction: row;
    }
}
  
.applicants-pagination {
    display: flex;
    flex-direction: row;
}
  
.applicants-main-pagination {
    justify-content: center;
}
  
.applicants-pagination button {
    margin: 5px;
    padding: 8px 16px;
    border: 1px solid #ddd;
    cursor: pointer;
    border-radius: 4px;
}
  
.applicants-pagination button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}
  
.applicants-pagination .active {
    background-color: var(--main-color);
    color: white;
    border: none;
}
  
.applicants-pagination-info {
    margin-top: 10px;
    font-size: 14px;
    color: #555;
    text-align: center;
    padding-right: 1em;
    padding-left: 1em;
}

.applicants-status-active{
    font-family: var(--main-font-family) !important;
    background-color: #70d67b !important;
    border-radius: 0.5em !important;
    width: 4em !important;
    font-size: 0.9em !important;
    padding-right: 0.7em !important;
    padding-left: 0.7em !important;
    padding-bottom: 0.1em !important;
    padding-top: 0.1em !important;
}

